<!DOCTYPE html>
{% load staticfiles i18n %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <title>
      {% block title %}
        {% trans "Log In" context "Dashboard default page title" %}
      {% endblock %}
    </title>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% endblock meta %}  

    <!-- Global stylesheets -->
    <link href="{% static 'css/roboto/roboto.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/colors.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/extras/ladda-themeless.min.css' %}" rel="stylesheet" type="text/css">
  
  
  <!-- /global stylesheets -->

    {% block custom_css %}
    <style>
      .slideShowContainter{
        z-index: -1;
        position: fixed;
        width:100%;
      }
      .slideShow{
          list-style-type:none;
          padding-left:0px !important;
      }
      .slideShow li img{
        /*width:auto;
        height: 100%;*/
      }
      #loginForm .panel {
        background-color: rgba(255,255,255, 0.7) !important;
      }
      .form-control{border-color: transparent transparent #bdb2b2;}
    </style>
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %} login-container">
    <div class="slideShowContainter">
      <ul class="slideShow">
          <li><img src="{% static 'images/backgrounds/1.jpg' %}"/></li>
          <li><img src="{% static 'images/backgrounds/2.jpg' %}"/></li>
          <li><img src="{% static 'images/backgrounds/3.jpg' %}"/></li>
          <li><img src="{% static 'images/backgrounds/4.jpg' %}"/></li>
          <li><img src="{% static 'images/backgrounds/5.jpg' %}"/></li>
          <li><img src="{% static 'images/backgrounds/6.jpg' %}"/></li>

      </ul>
    </div>
     <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
        <!-- Content area -->
        <div class="content">

          <!-- Simple login form -->
          <form name="loginForm" id="loginForm">
            {% csrf_token %} 
            <div class="panel panel-body login-form animated bounceIn">
              <div class="text-center">
                  <div class="icon-object border-pink-400 text-pink-400"><i class="icon-reading"></i></div>
                <h5 class="content-group">Login to your account <small class="display-block" style="color: #605b5b">Enter your credentials below</small></h5>
              </div>
              <div id="status" class="alert bg-danger animated slideInUp" style="display: none;">
                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                <span class="status_text">Oops! Wrong credentials.</span>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <input type="text" class="form-control email" name="email" placeholder="Username or Email">
                <div class="form-control-feedback">
                  <i class="icon-user text-muteds"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <input type="password" name="password" class="form-control password" placeholder="Password">
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muteds"></i>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn bg-pink-400 btn-block login_btn ladda-button" data-style="expand-right" id="login_btn">Sign in <i class="icon-circle-right2 position-right"></i></button>
              </div>
              <div class="text-center">
                <a class="link--styled" href="javascript:;">
                  Forgot password?
                </a>
              </div>
            </div>
          </form>
          <!-- /simple login form -->

        </div>
        <!-- /content area -->
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
  </div>
  <!-- /page container -->

   
 
  <!-- Core JS files -->
  <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- /core JS files -->
  <script type="text/javascript" src="{% static 'js/extras/jquery.validate.js' %} "></script>
  <!-- <script type="text/javascript" src="{% static 'backend/js/plugins/ui/ripple.min.js' %}"></script> -->
  <!-- /theme JS files -->
 
  <!-- form js -->
  <!-- <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/loaders/blockui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_layouts.js' %}"></script> -->

  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'js/extras/jgrowl.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/extras/spin.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/extras/ladda.min.js' %}"></script> 
    
    <script type="text/javascript">
         $("#loginForm").submit(function(e)
          {
              e.preventDefault();

              var l = Ladda.create(document.querySelector('#login_btn'));
              l.start();
              var postData = $(this).serializeArray();
              var formURL = "{% url 'process_login' %}";

              $.ajax(
              {
                  url : formURL,
                  type: "POST",
                  crossDomain: true,
                  data : postData,
                  success:function(data, textStatus, jqXHR) 
                  {
                      // $('#status').remove();
                      if(data == 'success'){ 
                        l.stop();
                        alertNotificatio('Authenticated', 'Success!', 'success')
                         window.location = "{% url 'home' %}";
                         $('.email').val('');
                         $('.password').val('');
                       }
                       else{
                          l.stop();
                          alertNotificatio('Wrond Credentials!', 'Authentication Error', 'danger')
                       }
                  },
                  error: function(jqXHR, textStatus, errorThrown) 
                  {
                      alertNotificatio('Wrond Credentials!', 'Authenticatin Error', 'danger')  
                  }
              });
              return false;
              e.preventDefault(); //STOP default action
          });

        function alertNotificatio(message, header, theme){
            $.jGrowl(message, {
                header: header,
                theme: 'bg-'+theme
            });
        }
       // });
       $(function(){
          var slides = $('.slideShow>li');
          var slideCount = 0;
          var totalSlides = slides.length;
          var slideCache = [];

          (function preloader(){
            if(slideCount<totalSlides){
              //load images
              slideCache[slideCount] = new Image();
              slideCache[slideCount].src = slides.eq(slideCount).find('img').attr('src');
              slideCache[slideCount].onload = function(){
                  slideCount++;
                  preloader();
                }
              }else {
                slideCount = 0;
                SlideShow();
              }
          }());

          function SlideShow(){
            slides.eq(slideCount).fadeIn(1000).delay(5000).fadeOut(1000, function(){
                slideCount < totalSlides - 1 ? slideCount++ : slideCount = 0;
                SlideShow();
            });
          }


       });
    </script>
   </div>
  </body>
</html>
